<!DOCTYPE html>
<html lang="en">
{% include "head.liquid" %}
{% include "region.liquid" %}
<body{% if region != '' %} class="region-{{ region }}"{% endif %}>
  {% include "nav.liquid" %}

  <div class="page-wrap">
    <main>
      {{ page.content }}
    </main>
  </div>

  {% include "footer.liquid" %}

  <script src="/js/lykn-browser.js"></script>
</body>
</html>
